{% extends 'base.html' %}
{% block content %}
<h2 class="mb-4">Статистика по пользователям</h2>
<table class="table table-bordered border-dark table-hover">
    <thead class="bg-custom-dark">
        <tr>
            <th>№</th>
            <th>Пользователь</th>
            <th>Количество посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ stat.name }}</td>
            <td>{{ stat.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mb-3">
    <a href="{{ url_for('visits.users_stat_csv') }}" class="btn btn-dark fw-bold">Экспорт в CSV</a>
    <a href="{{ url_for('visits.logs') }}" class="btn btn-outline-dark">Назад</a>
</div>
{% endblock %}