* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 10px;
}

.header_center{
  max-width: 95rem;
  margin:auto;
  padding: 0;
}

.main_center{
  max-width: 95rem;
  margin:0 auto;
  padding: 0;
}

.footer_center{
  max-width: 95rem;
  margin:0 auto;
  padding: 0;
}

nav a.active {
  color: rgb(71, 135, 255);
}

.meals-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-self: center;
  margin-top: 1rem;
}
.meal-map {
  display: flex;
  width: 30rem;
  justify-content: center;
  flex-direction: column;
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 35px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
  min-height: 50rem;
}

#construct_main_content h2{
  text-align: center;
}

.meal-map:hover {
  border: 2px solid rgb(71, 135, 255);
}

.meal-map img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 35px;
  margin-bottom: 1rem;
}

.meal-map .price {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0.6rem;
}

.meal-map .name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 6px;
}

.meal-map .weight {
  font-size: 1.8rem;
  color: gray;
  margin-top: auto;
  margin-bottom: 8px;
}

.meal-map button {
  background-color: #f1eee9;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.meal-map:hover button {
  background-color: #cfcfcf;
  color: #000;
}

@media (max-width: 800px) {
  .meals-grid {
    grid-template-columns: 1fr 1fr;
  }

  nav {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .meals-grid {
    grid-template-columns: 1fr;
  }

  header h1 {
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: calc(3rem + 4px);
  }

  section h2 {
    text-align: center;
  }
}
